body {
  background: #eee;
  font-family: -apple-system,BlinkMacSystemFont,"Source Sans Pro",Roboto,'Helvetica Neue',Arial,sans-serif;
}
.content {
  margin-top: 100px;
}
.nav-tag{
  padding-right: 30px;
}
.navbar-burger{
  border: 0;
}